
.app_hero{
    position: relative;
    padding: 2rem 55px 0 6rem;
}

.app_hero-top{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    margin-bottom: 40px;
    z-index: 100;
}


.app_hero-top p{
    font-size: 36px;
    font-style: italic;
    font-weight: 700;
    z-index: 1000;
    margin-bottom: 0;
}

.app_hero-top span{
    color: var(--color-white);
    border-bottom: 20px solid;
      border-image: url(../../assets/dash.svg) 30 round;
}




.image-fixed img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
    background: url('../../assets/metrix.png');
    background-position: center;
    background-size: cover;
    background-repeat: repeat-x;
}

.app_hero-wrapper_info{
    position: relative;
    z-index: 1;
}

.app_hero-wrapper_info p{
    margin: 8px 0 41px 0;
    max-width: 522px;
}

.app_hero-wrapper_info button{
    margin-bottom: 77px;
}

.app_hero-wrapper_info .timer{
    color: var(--color-white);
    font-family: var(--font-time);
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 85.12px;
}
.app_hero-wrapper_info .timer span{
    color: var(--color-white);
    font-family: var(--font-base);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.62px;

}

.app_hero-wrapper_img{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    position: relative;
    background: url('../../assets/man.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right -7px bottom;
    background-blend-mode: luminosity;
    z-index: 100;
}

.app_hero-wrapper_img img{
    width: 100%;
}


.man_gradient{
    position: absolute;
    filter: blur(170px) brightness(130%);
    top: -30px;
    right: 1%;
    border-radius: 50%;
    z-index: 1;
    visibility: visible;
}

.absolute_gradient{
    position: absolute;
    filter: blur(115px) brightness(170%);
    top: -30px;
    left: 17%;
    border-radius: 50%;
    z-index: 0;
}

.head_bulb{
    display: flex;
    position: relative;
}

.head_bulb img{
    position: absolute;
    right: 20%;
    top:-50px;
}


@media screen and (max-width: 1050px) {
    .app_hero{
        position: relative;
        padding: 2rem;
    }
    .app_hero-top{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 40px;
        z-index: 100;
    }

    .app_hero-top p{
        font-size: 20px;
    }

    .app_hero-top svg{
        width: 115px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .app_hero-wrapper_info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .head_bulb img{
        position: absolute;
        right: 5%;
        top:-20px;
        width: 30px;
        height: 35px;
    }
    .headtext img{
        width: 61px;
        height: 61px;
    }
    .app_hero-wrapper_info p{
        font-size: 16px;
        max-width: 480px;
        text-align: center;
    }

    .app_hero-wrapper_img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background: url('../../assets/man.png');
        background-size: cover;
        background-position: right 0 top;
    }

    .app_hero-wrapper_img img{
        width: 100%;
    } 
    .timer{
        margin-bottom: 11.7px;
    }

    .absolute_gradient{
        position: absolute;
        filter: blur(115px) brightness(170%);
        top: 50px;
        left: 10%;
        border-radius: 50%;
        z-index: 0;
    }

    .absolute_gradient img{
        width: 200px;
    }

    .app_hero-top span{
        color: var(--color-white);
        border-bottom: 10px solid;
          border-image: url(../../assets/dash.svg) 30 round;
    }
}

@media screen and (max-width: 750px) {

    .app_hero-top p{
        font-size: 16px;
    }

    .app_hero svg{
        width: 115px;
    }

    .app_hero-wrapper_info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .head_bulb img{
        position: absolute;
        right: 5%;
        top:-20px;
        width: 18px;
        height: 26px;
    }
    .headtext img{
        width: 32.797px;
        height: 32.797px;;
    }
    .app_hero-wrapper_info p{
        font-size: 13px;
        max-width: 264px;
    }

    .app_hero-wrapper_img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background: url('../../assets/man.png');
        background-size: cover;
        background-position: right 0 top;
    }

    .app_hero-wrapper_img img{
        width: 100%;
    } 
    .timer{
        margin-bottom: 11.7px;
    }

    .absolute_gradient{
        position: absolute;
        filter: blur(115px) brightness(170%);
        top: 50px;
        left: 10%;
        border-radius: 50%;
        z-index: 0;
    }

    .absolute_gradient img{
        width: 200px;
    }
}

@media screen and (max-width: 500px) {


    .app_hero svg{
        width: 115px;
    }

    .app_hero-wrapper_info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .head_bulb img{
        position: absolute;
        right: 5%;
        top:-20px;
        width: 18px;
        height: 26px;
    }
    .headtext img{
        width: 32.797px;
        height: 32.797px;;
    }
    .app_hero-wrapper_info p{
        font-size: 13px;
        max-width: 264px;
    }

    .app_hero-wrapper_img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background: url('../../assets/man.png');
        background-size: cover;
        background-position: right 0 top;
    }

    .app_hero-wrapper_img img{
        width: 100%;
    } 
    .timer{
        margin-bottom: 11.7px;
    }

    .absolute_gradient{
        position: absolute;
        filter: blur(115px) brightness(170%);
        top: 50px;
        left: 10%;
        border-radius: 50%;
        z-index: 0;
    }

    .absolute_gradient img{
        width: 200px;
    }
}

